/* Tablet rules */

@media screen and (max-width: 768px) {
    .col1 {
        width: 350px;
    }
    .col2 {
        margin: 0;
        text-align: center;
    }
}

/* Mobile L rules */
@media screen and (max-width: 425px) {
    .search-bar input {
        width: 350px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .searchicon {
        top: 30px;
    }
    .search-options {
        margin-bottom: 20px;
    }
    .languages {
        display: flex;
    }
    .footerline2 {
        flex-direction: column;
    }
    .col1 {
        width: 350px;
    }
    .col2 {
        margin-bottom: 5px;
    }
}

/* Mobile M rules */
@media screen and (max-width: 375px) {
    .nav-container .slider {
        width: 80px;
    }
    .active {
	    transform: translateX(2.5rem);
    }
    .search-bar input {
        width: 300px;
    }
    .col1 {
        width: 330px;
    }
}

/* Mobile S rules */
@media screen and (max-width: 320px) {
    .nav-items {
        width: 235px;
    }
    .signin-btn {
        width: 60px;
    }
    .nav-container .slider {
        width: 70px;
        margin-left: 0.5em;
    }
    .active {
        transform: translateX(1.9rem);
    }
    .search-bar input {
        width: 250px;
    }
    .languages {
        align-items: center;
        flex-direction: column;
    }
    .col1 {
        margin-bottom: 5px;
        width: 310px;
    }
    .col2 {
        margin: 0;
        margin-bottom: 5px;
        text-align: center;
    }
}